---
layout: security-menu
lang: en
ref: security-post
permalink: /en/security
---
<main class="post" id="security-main">
    <div class="post-list" id="security">
        {%- if site.posts.size > 0 -%}
        <h1>Security</h1>
        {% assign posts=site.posts | where:"lang", page.lang | where:"categories", "security" %}
        <ul>
            <table>
                <thead>
                    <tr id="post-sub">
                        <th class="post-subtitle"> Title </th>
                        <th class="post-subtitle"> Description </th>
                        <th class="post-subtitle"> Localization </th>
                        <th class="post-subtitle"> Parameter </th>
                        <th class="post-subtitle"> Level </th>
                    </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td class="post-title" data-label="Title">
                            <a href="{{ post.url | relative_url }}">{{ post.title }}</a></td>
                        <td class="post-meta" data-label="Description">
                            <p>{{ post.desc }}</p>
                            {%- assign date_format = site.minima.date_format | default: "%d/%m/%Y" -%}
                            <span class="post-date">{{ post.date | date: date_format }}</span>
                        </td>
                        <td class="post-meta" data-label="Localization">
                            <p>{{ post.localisation }}</p>
                        </td>
                        <td class="post-meta" data-label="Parameter">
                            <p>{{ post.parametre }}</p>
                        </td>
                        <td class="post-meta" data-label="Level">
                            {% if post.niveau == "Critical" %}
                            <div class="container">
                                <div class="progress progress-striped-cri">
                                    <div class="progress-bar-cri">
                                    </div>
                                </div>
                            </div>
                            {% elsif post.niveau == "Medium" %}
                            <div class="container">
                                <div class="progress progress-striped-med">
                                    <div class="progress-bar-med">
                                    </div>
                                </div>
                            </div>
                            {% elsif post.niveau == "Low" %}
                            <div class="container">
                                <div class="progress progress-striped-low">
                                    <div class="progress-bar-low">
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </ul>
        {%- endif -%}
    </div>
</main>