---
layout: default
ref: index
lang: fr
permalink: /fr
---

<!--==========================
    Intro Section
  ============================-->
<section id="intro">
  <div class="intro-container wow fadeIn">
    <h1 class="mb-4 pb-0">Eyes Of <span>Network</span></h1>
    <p class="mb-4 pb-0">Solution Open Source réunissant de manière pragmatique<br>les processus ITIL et l’interface
      technologique permettant leur application.</p>
    <a href="https://youtu.be/9aFWD_dIAzk" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"
      data-toggle="tooltip" data-placement="bottom"></a>
    <a href="#about" class="about-btn scrollto">Présentation de la gamme <strong>Eyes</strong></a>
  </div>
</section>

<main id="main">

  <!--==========================
      About Section
    ============================-->
  <section id="about" class="section-with-bg">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h2>Présentation de la gamme <strong>Eyes</strong></h2>
      </div>
      <div class="sub-header">
        <h5>La gamme Eyes est constituée d'un ensemble de solutions OpenSource répondant aux besoins grandissants de
          supervision des Systèmes d'Informations des entreprises. Notre gamme est constituée de 5 solutions.</h5>
      </div>
      <div class="about-container">
        <div class="role">
          <h3><img src="/img/logos/logo_eon.png" alt="EyesOfNetwork">EyesOfNetwork</h3>
          <section class="about-role">
            <p>Solution de supervision d'infrastructure</p>
            <a href="#products" data-slide-to="0" class="scrollto"><i class="fas fa-eye"></i></a>
          </section>
        </div>

        <div class="role">
          <h3><img src="/img/logos/logo_eoa.png" alt="EyesOfApplication">EyesOfApplication</h3>
          <section class="about-role">
            <p>Surveillance d'application par exécution de scénarios</p>
            <a href="#products" data-slide-to="1" class="scrollto"><i class="fas fa-eye"></i></a>
          </section>
        </div>
        <div class="role">
          <h3><img src="/img/logos/logo_eor.png" alt="EyesOfReport">EyesOfReport</h3>
          <section class="about-role">
            <p>Rapports personnalisés livrés dans un format bureautique</p>
            <a href="#products" data-slide-to="3" class="scrollto"><i class="fas fa-eye"></i></a>
          </section>
        </div>
        <div class="role">
          <h3><img src="/img/logos/logo_eoi.png" alt="EyesOfIndicator">EyesOfIndicator</h3>
          <section class="about-role">
            <p>Tableau de bord dynamique d'indicateurs clés</p>
            <a href="#products" data-slide-to="3" class="scrollto"><i class="fas fa-eye"></i></a>
          </section>
        </div>
        <div class="role">
          <h3><img src="/img/logos/logo_eol.png" alt="EyesOfLog">EyesOfLog</h3>
          <section class="about-role">
            <p>Centralisation de journaux d'évènements et capacity planning</p>
            <a href="#products" data-slide-to="4" class="scrollto"><i class="fas fa-eye"></i></a>
          </section>
        </div>
        <div class="role"></div>
        <div class="role">
          <h3 class="about_eon"><img src="/img/logos/logo_eon.png" alt="EyesOfNetwork">EyesOfNetwork
          </h3>
          <section class="about-role">
            <p>Solution de supervision d'infrastructure</p>
            <a href="#products" data-slide-to="0" class="scrollto"><i class="fas fa-eye"></i></a>
          </section>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
      Products Section
    ============================-->
  <section id="products" class="">
    <div class="products-container">
      <div class="section-header">
        <h2>Détails par produit</h2>
      </div>

      <div id="carouselProducts" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#EyesOfNetwork" data-slide-to="0" class="active"></li>
          <li data-target="#EyesOfApplication" data-slide-to="1"></li>
          <li data-target="#EyesOfIndicator" data-slide-to="2"></li>
          <li data-target="#EyesOfReport" data-slide-to="3"></li>
          <li data-target="#EyesOfLog" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active">
            <!-- Details of EyesOfNetwork -->
            <div class="" id="EyesOfNetwork">
              <h2 class="d-none">EyesOfNetwork</h2>
              <div class="col-lg-9 center">
                <div class="row">
                  <img src="/img/thumbs/500x500r/2019-12/18-1197-logo-eyes-of-network.png">
                </div>
                <p class="teasing">La solution Open Source réunissant de manière pragmatique les processus ITIL et les
                  acteurs du système d’information.</p>
                <div class="row justify">
                  <div class="col-lg-4">
                    <h4>Supervisez l'ensemble des éléments de l'infrastructure</h4>

                    <p>EyesOfNetwork est une solution de supervision globale de l'état hardware des équipements, des
                      systèmes d'exploitation, des applications standards, des applications métiers et de la
                      performance.</p>
                  </div>

                  <div class="col-lg-4">
                    <h4>Cartographiez votre système d'information</h4>

                    <p>La cartographie permet de vulgariser les informations de supervision. Il est ainsi possible
                      d'offrir les vues correspondantes aux attentes de chacun (vues géographiques, techniques et
                      métiers).</p>
                  </div>

                  <div class="col-lg-4">
                    <h4>Alertez en cas d'anomalie</h4>

                    <p>Levez des alertes à une population ciblée en cas de défaut sur des éléments de votre système
                      d'information. Grâce aux notifications avancées, définissez graphiquement vos règles de
                      notifications afin de pouvoir intervenir le plus efficacement possible.</p>
                  </div>
                </div>

                <div class="row justify">
                  <div class="col-lg-4">
                    <h4>Pilotez votre service d'exploitation</h4>

                    <p>Le module EON production permet d'assurer les grands processus nécessaires au maintien en
                      condition opérationnelle de votre infrastructure (gestion des évènements, des changements, des
                      problèmes, des actifs, des données administratives et techniques).</p>
                  </div>

                  <div class="col-lg-4">
                    <h4>Mesurez la qualité de service</h4>

                    <p>Les rapports générés par Eyes Of Network vous permettent d'évaluer la disponibilité de vos
                      applications, de déterminer la qualité de vos services avec le SLA technique et de vous faire
                      gagner du temps grâce à son moteur de rendu documentaire.</p>
                  </div>

                  <div class="col-lg-4">
                    <h4>Déployez facilement</h4>

                    <p>Plusieurs modes d'installation sont disponibles: Ansible, Image ISO ou encore par groupe de
                      paquets RPM. Ainsi quelque soit votre environnement cible, vous trouverez une méthode de
                      déploiement adaptée à votre besoin.</p>
                  </div>
                </div>


                <div class='row center'>
                  <!--<h3>Galerie</h3>-->
                  <a href="/img/screenshots/eyesofnetwork/login-fr.png" class="magnific" title="screenshots/login-fr"><img
                    src="/img/thumbs/160x120c/screenshots/login-fr.png" width="160" height="120"
                    alt="screenshots/login-fr"></a>
                <a href="/img/screenshots/eyesofnetwork/install1-fr.png" class="magnific" title="screenshots/install1-fr"><img
                    src="/img/thumbs/160x120c/screenshots/install1-fr.png" width="160" height="120"
                    alt="screenshots/install1-fr"></a>
                <a href="/img/screenshots/eyesofnetwork/maps1.png" class="magnific" title="screenshots/maps1"><img
                    src="/img/thumbs/160x120c/screenshots/maps1.png" width="160" height="120" alt="screenshots/maps1"></a>
                <a href="/img/screenshots/eyesofnetwork/tools-fr.png" class="magnific" title="screenshots/tools-fr"><img
                    src="/img/thumbs/160x120c/screenshots/tools-fr.png" width="160" height="120"
                    alt="screenshots/tools-fr"></a>
                <a href="/img/screenshots/eyesofnetwork/event-report-fr.png" class="magnific"
                  title="screenshots/event-report-fr"><img
                    src="/img/thumbs/160x120c/screenshots/1576170117_event-report-fr.png" width="160" height="120"
                    alt="screenshots/1576170117_event-report-fr"></a>
                <a href="/img/screenshots/eyesofnetwork/dashboard-fr.png" class="magnific"
                  title="screenshots/dashboard-fr"><img
                    src="/img/thumbs/160x120c/screenshots/1576170118_dashboard-fr.png" width="160" height="120"
                    alt="screenshots/1576170118_dashboard-fr"></a>
              </div>
                <div class="row justify-content-center">
                  <div class="col-auto">
                    <p>
                      <a class="flyers" href="/files/media/AXIANS_EON_BD.pdf">Télécharger la brochure</a>
                    </p>
                    <p>
                      <a class="flyers" href="/files/EyesOfNetwork-documentations-v5.zip">Documentations</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Details Of EyesOfNetwork -->
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item">
            <!-- Details of EyesOfApplication -->
            <div class="" id="EyesOfApplication">
              <h2 class="d-none">EyesOfApplication</h2>
              <div class="col-lg-9 center">
                <div class="row">
                  <img src="/img/thumbs/500x500r/2019-12/18-1197-logo-eyes-of-application.png">
                </div>
                <p class="teasing">Mesurer la qualité de service fourni aux utilisateurs finaux grâce à
                  EyesOfApplication</p>
                <div class="row justify">

                  <div class="col-lg-4">
                    <h4>Surveillez vos applications</h4>

                    <p>Eyes Of Application permet de mesurer au mieux l’expérience utilisateur en terme de disponibilité
                      du service, de performance de l’application et d’intégrité des données.</p>
                  </div>

                  <div class="col-lg-4">
                    <h4>Modélisez vos scénarios utilisateurs</h4>

                    <p>Création de robots applicatifs basés sur des scripts simulant les actions courantes des
                      utilisateurs tout en restant fidèle au contexte d’exploitation. Applications hébergées sur
                      plateformes hétérogènes depuis un poste utilisateur : test de connexion, accès base de données,...
                    </p>
                  </div>

                  <div class="col-lg-4">
                    <h4>Mesurez la disponibilité</h4>

                    <p>Grâce à l’exécution séquencée, chaque action utilisateur est mesurée pour obtenir des indicateurs
                      de performances précis. Retrouvez toutes les informations de performances et de disponibilité
                      depuis <strong>Grafana</strong>.</p>
                  </div>

                  <div class="col-lg-4">
                    <h4>Identifiez les indisponibilités</h4>

                    <p>Eyes Of Application permet une identification rapide de la criticité des incidents, les sites ou
                      services concernés, le nombre total d’utilisateurs impactés, la durée des dégradations ou des
                      indisponibilités. Identification des problèmes et proposition d’un axe de résolution.</p>
                  </div>

                  <div class="col-lg-4">
                    <h3>Fonctionnement</h3>

                    <p>Définissez un poste sonde représentatif de l'environnement de vos utilisateurs (Windows/Linux) et
                      installez y EyesOfApplication. Concevez des scénarios afin de mesurer la disponibilité et la
                      performance des actions de vos utilisateurs. Peu importe le language de programmation ou le mode
                      d'accès à vos applications (Web / Client lourd), EyesOfApplication éxécutera soit le scénario par
                      reconnaissance d'image pour les client lourd, soit par parcours du code en mode Web grace à
                      <strong>Selenium</strong>.</p>
                  </div>


                  <div class="col-lg-4">
                    <video class="video embed-responsive embed-responsive-16by9" controls>
                      <source src="/img/products/EOA.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  </div>
                </div>
                <div class="row">
                  <h3>Le rôle d'EyesOfApplication au sein de la gamme Eyes</h3>
                  <p>La supervision d'application que réalise EyesOfApplication permet de venir enrichir la modélisation
                    des "Business Process", rendant ainsi les notifications et les rapports de disponibilité plus
                    pertinents.</p>
                </div>
                <div class="row justify-content-center">
                  <div class="col-auto">
                    <p><a class="flyers" href="/files/media/AXIANS_EOA_BD.pdf">Télécharger la brochure</a></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Details of EyesOfApplication -->
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item">
            <div class="">
              <!-- Details of EyesOfIndicator -->
              <div class="" id="EyesOfIndicator">
                <h2 class="d-none">EyesOfIndicator</h2>
                <div class="col-lg-9 center">
                  <div class="row">
                    <img src="/img/thumbs/500x500r/2019-12/18-1197-logo-eyes-of-indicator.png">
                  </div>
                  <p class="teasing"></p>
                  <div class="row text-justify">
                    <div class="col-lg-6">
                      <div class="row">
                        <div class="col-lg-3">
                          <h4>Style</h4>

                          <p>Définir la forme, couleur, taille, police : le visuel de vos widgets.</p>
                        </div>

                        <div class="col-lg-3">
                          <h4>Moderne</h4>

                          <p>Un visuel épuré, facilitant la lecture.</p>
                        </div>

                        <div class="col-lg-3">
                          <h4>Simple</h4>

                          <p>Interface intuitive et compréhensible d'un simple coup d'oeil.</p>
                        </div>

                        <div class="col-lg-3">
                          <h4>Tactile</h4>

                          <p>Interragissez avec vos evènements depuis un écran tactile.</p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-3">
                          <h4>Sur mesure</h4>

                          <p>Des indicateurs établis en fonction de vos besoins.</p>
                        </div>

                        <div class="col-lg-3">
                          <h4>Compatibilité</h4>

                          <p>Vos informations issues d'une multitude de source de données.</p>
                        </div>

                        <div class="col-lg-3">
                          <h4>Traitement</h4>

                          <p>Le widget s'adapte en fonction de la donnée (seuil,alerte,...).</p>
                        </div>

                        <div class="col-lg-3">
                          <h4>Responsive</h4>

                          <p>L'affichage Web s'adapte automatiquement à vos résolutions.</p>
                        </div>
                      </div>

                    </div>
                    <div class="col-lg-4">
                      <div class="fadeInUp">
                        <img class="fit-picture img-fluid" src="/img/products/EyesOfIndicator.png?4cc74d74d9"
                          alt="Représentation EyesOfIndicator" />
                      </div>
                    </div>
                  </div>
                  <div class='row center'>
                    <!--<h3>Galerie</h3>-->

                  </div>
                  <div class="row">
                    <h3>Le rôle d'EyesOfIndicator au sein de la gamme Eyes</h3>

                  </div>
                  <div class="row">
                    <p>L'outil idéal de représentation des informations consolidées provenant de votre supervision
                      d'infrastructure (Business Process, Etat des sauvegardes, Etat de vos applications clé, ...)</p>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-auto">
                      <p><a class="flyers" href="/files/media/AXIANS_EOI_BD.pdf">Télécharger la brochure</a></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Details of EyesOfIndicator -->
            </div>
          </div>
          <!-- Slide EOR -->
          <div class="carousel-item">
            <div class="">
              <!-- Details of EyesOfReport -->
              <div class="" id="EyesOfReport">
                <h2 class="d-none">EyesOfReport</h2>
                <div class="col-lg-9 center">
                  <div class="row">
                    <img src="/img/thumbs/500x500r/2019-12/18-1197-logo-eyes-of-report.png">
                  </div>
                  <p class="teasing">La solution pour piloter la qualité de vos services</p>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="row">
                        <div class="col-lg-6">
                          <h4>Agréez vos outils de supervision</h4>

                          <p>EyesOfReport s'interface avec vos outils de supervision, afin d'intégrer les informations
                            de disponibilités pour l'ensemble des équipements de votre infrastructure.</p>
                        </div>

                        <div class="col-lg-6">
                          <h4>Modélisez vos applications</h4>

                          <p>Le bon fonctionnement de vos applications est en lien direct avec la santé des équipements
                            qui les hébergent et les relient aux utilisateurs finaux. Modélisez de façon intuitive la
                            relation entre vos applications et votre infrastructure dans le module de Business Process
                            Management.</p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-6">
                          <h4>Formalisez votre catalogue de services</h4>

                          <p>Définissez vos contrats de services (client, sla, couvertures horaires,...) dans notre
                            module de gestion de contrat et liez-les à vos applications pour construire votre catalogue
                            de services.</p>
                        </div>

                        <div class="col-lg-6">
                          <h4>Analysez, améliorez, communiquez</h4>

                          <p>Un certain nombre de rapports exportables au format de votre choix (pdf, html, Word,
                            powerpoint...) vous permettront de visualiser la disponibilité de vos applications,
                            d'analyser les causes de dégradations de services et de préparer vos comités de pilotage.
                          </p>
                        </div>
                      </div>

                    </div>
                    <div class="col-lg-6">
                      <div class="fadeInUp">
                        <img class="fit-picture img-fluid" src="/img/products/EyesOfReport.png?a0ec96231b"
                          alt="Rapport EyesOfReport" />
                      </div>
                    </div>
                  </div>
                  <div class='row center'>
                    <!--<h3>Galerie</h3>-->

                  </div>
                  <div class="row">
                    <h3>Le rôle d'EyesOfReport au sein de la gamme Eyes</h3>
                    <p>L'outil idéal de modélisation et de représentation de votre catalogue de service. EyesOfReport se
                      repose notamment sur EyesOfNetwork pour la récupération de états de services nécessaire à la
                      construction de rapports.</p>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-auto">
                      <p><a class="flyers" href="/files/media/AXIANS_EOR_BD.pdf">Télécharger la brochure</a></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Details of EyesOfReport -->
            </div>
          </div>
          <div class="carousel-item">
            <div class="">
              <!-- Details of EyesOfLog -->
              <div class="" id="EyesOfLog">
                <h2 class="d-none">EyesOfLog</h2>
                <div class="col-lg-9 center">
                  <div class="row">
                    <img src="/img/thumbs/500x500r/2019-12/18-1197-logo-eyes-of-log.png">
                  </div>
                  <p class="teasing">Une solution répondant à une multitude de cas d'usages (logs, SIEM, APM, IA, ...)
                  </p>
                  <div class="row">
                    <div class="col-lg-3">
                      <h4>Centralisez</h4>

                      <p>Récoltez les journaux de votre système d'information. Ces informations récupérées par agents ou
                        par protocole standard regorgent d'informations essentiels, tant sur la sécurité, sur le
                        fonctionnement que sur la capacité de charge de vos environnements.</p>
                    </div>

                    <div class="col-lg-3">
                      <h4>Analysez les comportements</h4>

                      <p>Ddétectez des anomalies dans les comportements de vos utilisateurs grâce aux fonctionnalités de
                        <strong>Machine Learning</strong> et intervenez manuellement ou automatiquement avant qu'il ne
                        soit trop tard.</p>
                    </div>

                    <div class="col-lg-3">
                      <h4>Analysez les flux réseau</h4>

                      <p>Analysez les paquets en transit sur vos environnements. Comprenez le fonctionnement de vos
                        applications et soyez proactif en cas de compromission.</p>
                    </div>

                    <div class="col-lg-3">
                      <h4>Capacity Planing</h4>

                      <p>En récoltant les informations issues des journaux et des métriques de performances,
                        constituez-vous une banque de données d'informations vous permettant d'appliquer du
                        <strong>Machine Learning</strong> pour prévoir les évolutions d'infrastructure.</p>
                    </div>

                    <div class="col-lg-3">
                      <h4>Performances applicatives</h4>

                      <p>Analysez les transactions au sein de vos applications grâce à la fonctionnalité
                        <strong>APM</strong>, et relevez les lenteurs et erreurs pouvant impacter vos utilisateurs.
                        Couplez ce module avec du machine learning, et vous serez alertés avant que vos utilisateurs ne
                        soient impactés.</p>
                    </div>

                    <div class="col-lg-3">
                      <h4>Investiguez</h4>

                      <p>Parcourez vos données issues de tous vos composants d'infrastructure (Parefeu, Routeurs,
                        Commutateurs , Serveurs, Applications), sélectionnez une plage horaire, et forez dans les
                        strates évènementielles.</p>
                    </div>

                    <div class="col-lg-3">
                      <h4>Moteur de recherche</h4>

                      <p>Accélérer vos applications en employant EyesOfLog en tant que "Backend" pour vos applications.
                        Aspirez les données de vos bases de données historiques (DB2, Oracle, ...) et redirigez vos
                        applications vers EyesOfLog afin de profiter de grandes performances applicatives.</p>
                    </div>

                    <div class="col-lg-3">
                      <h4>Maintenances prédictives</h4>

                      <p>Analysez vos données issues de vos matériels afin de prévoir les défaillances sur vos
                        équipements. Ainsi soyez proactif dans la gestion de vos infrastructures et minimisez les
                        impacts utilisateurs tout en anticipant votre budget.</p>
                    </div>

                  </div>
                  <div class='row center'>
                    <!--<h3>Galerie</h3>-->
                    <a href="/img/screenshots/eyesoflog/2019-12-15-16-33-48-microsoft-store.png" class="magnific"
                      title="Find latency in your applications with APM Agents"><img
                        src="/img/thumbs/160x120c/screenshots/2019-12-15-16-33-48-microsoft-store.png" width="160"
                        height="120" alt="Find latency in your applications with APM Agents"></a>
                    <a href="/img/screenshots/eyesoflog/2019-12-15-16-40-20-get-unknown-route-transactions-tomcat9bis-services-apm.png"
                      class="magnific" title="Find latency with APM"><img
                        src="/img/thumbs/160x120c/screenshots/2019-12-15-16-40-20-get-unknown-route-transactions-tomcat9bis-services-apm.png"
                        width="160" height="120" alt="Find latency with APM"></a>
                    <a href="/img/screenshots/eyesoflog/screenshot-2019-12-15-get-unknown-route-transactions-tomcat9bis-services-apm.png"
                      class="magnific" title="Looking for transactions with high latency in your applications"><img
                        src="/img/thumbs/160x120c/screenshots/screenshot-2019-12-15-get-unknown-route-transactions-tomcat9bis-services-apm.png"
                        width="160" height="120"
                        alt="Looking for transactions with high latency in your applications"></a>
                    <a href="/img/screenshots/eyesoflog/2019-12-15-16-45-20-clipboard.png" class="magnific"
                      title="Machine Learning"><img 
                      src="/img/thumbs/160x120c/screenshots/2019-12-15-16-45-20-clipboard.png"
                        width="160" height="120" alt="Machine Learning"></a>
                  </div>
                  <div class="row">
                    <h3>Le rôle d'EyesOfLog au sein de la gamme Eyes</h3>
                    <p>EyesOfLog vient enrichir le modèle de supervision traditionnel par de la supervision dynamique et
                      du capacity planing. EyesOfLog permet également à la gamme de produits de se rapprocher davantage
                      de la couche applicative.</p>
                  </div>
                </div>
              </div>
              <!-- End Details of EyesOfLog -->
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselProducts" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselProducts" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>

  <!--==========================
      News Section
    ============================-->
  <section id="news" class="section-with-bg">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h2>Actualités</h2>
      </div>
      <div class="news-container row">
        {% assign posts=site.posts | where:"lang", page.lang | where:"categories", "news" %}
        {%- assign date_format = site.minima.date_format | default: "%d/%m/%Y" -%}
        {% for post in posts %}
        {% assign content = post.content | strip_newlines %}
          {%- if forloop.index < 7 -%}
            {%- if forloop.index < 4 -%}
              {%- if forloop.index == 1 -%}
          <div class="main-infos-container col-sm-8">            
            <div class="info highlighted-info col-sm-12" date-date="{{ post.date | date: date_format }}">  
              {%- else -%}
            <div class="info col-sm-6" date-date="{{ post.date | date: date_format }}">
              {%- endif -%}
              <h3>{{ post.title }}</h3>
              <p>{{ post.desc }}</p>
              <p class="news-date">{{ post.date | date: date_format }}</p>
              {%- if content != "" -%}
              <p class="show-more"><a href="{{ post.url }}" class="link ajax-popup-modal">En savoir plus <i class="fas fa-caret-right"></i></a></p>
              {%- endif -%}
            </div>
            {%- endif -%}
            {%- if forloop.index > 3 -%}
              {%- if forloop.index == 4 -%}
          </div>
          <div class="right-infos-container col-sm-4">
              {%- endif -%}
            <div class="info col-sm-12" data-date="{{ post.date | date: date_format }}">
              <h3>{{ post.title }}</h3>
              <p>{{ post.desc }}</p>
              <p class="news-date">{{ post.date | date: date_format }}</p>
              {%- if content != "" -%}
              <p class="show-more"><a href="{{ post.url }}" class="link ajax-popup-modal">En savoir plus <i class="fas fa-caret-right"></i></a></p>
              {%- endif -%}
            </div>
            {%- endif -%}
          {%- endif -%}
        {% endfor %}
      </div>
    </div>
  </section>

  <!--==========================
          Community section
        ============================-->
  <section id="community" class="section-with-bg">

    <div class="container wow fadeInUp">
      <div class="section-header"><br>
        <h2>Communauté</h2>
        <div class="row">
          <div class="col-lg-12">
            <div>
              <h5>Retrouvez la communauté Eyes sur les différents canaux.<br></h5>
            </div>
          </div>
        </div>
      </div>

      <div class="card-deck">
        <div class="card" style="width: 18rem;">
          <img src="/img/community/Octocat.jpg?c4d56693cf" id="img-com" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <a target="_blank" href="https://github.com/EyesOfNetworkCommunity" class="btn btn-primary"
              id="bouton-com">GitHub</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="/img/community/logo_eon.jpg?e9668a5806" id="img-com" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <a target="_blank" href="https://forum.eyesofnetwork.com/" class="btn btn-primary" id="bouton-com">Forum</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="/img/community/gitter.png?2825cf915d" id="img-com" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <a target="_blank" href="https://gitter.im/EyesOfNetworkCommunity/community" class="btn btn-primary"
              id="bouton-com">Chat room</a>
          </div>
        </div>

      </div>
      <br>

  </section>

  <!--==========================
      Download Section
    ============================-->
  <section id="download" class="section-with-bg">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h2>Télécharger</h2>
      </div>
      <div class="sub-header">
        <h5>Vous pouvez télécharger librement les différents supports de la solution. Aidez-nous à vous
          connaître en nous communicant vos coordonnées à l’adresse eyesofnetwork@eyesofnetwork.com.
          Merci.</h5>
        <div>
          <div class="download-container">
            <div id="downtimeline-content">
              <ul class="downtimeline-latest">
                <li class="event" data-date="10/12/2019">
                  <h3>Version : 5.3</h3>
                  <p><strong>GPL Version 2 </strong><em> EyesOfNetwork-5.3-x86_64-bin.iso</em></p>
                  <p><a href="http://download.eyesofnetwork.com/EyesOfNetwork-5.3-x86_64-bin.iso">TÉLÉCHARGER</a>
                  </p>
                  <descr>1.5GB EON 5.3 64 Bits</descr>
                  <p><span class="badge">md5:4ee27da1ea2de2d351c216352cafae54</span></p>

                  <div id="5" class="mfp-hide white-popup-block">
                    <h1>Release note <strong>EyesOfNetwork 5.3</strong>
                    </h1>
                    <h2>Major changes</h2>
                    <ul>
                      <li>Replace Pnp4Nagios by Grafana/InfluxDB</li>
                      <li>Performances enhancement</li>
                    </ul>
                    <h2>Changes by sub-components</h2>
                    <h3>NAGVIS (1.9.13-0)</h3>
                    <ul>
                      <li>FIX: Fixed possible "Cannot read property 'conf' ... Line 4383" error when trying to interact
                        with the map while it is initially loading</li>
                      <li>FIX: Fixed incompatibility with PHP 7.2 when creating new users</li>
                      <li>FIX: Fixed loading sounds when using non standard HTTP/HTTPS ports</li>
                      <li>FIX: Fixed "JavaScript Error : checkHideMenu" on worldmaps when header is disabled</li>
                      <li>FIX: Network error popups are now shown when an error occurs and hidden again automatically
                        when a subsequent call succeeds</li>
                      <li>FIX: Weathermap lines now respect the configured error colors</li>
                      <li>FIX: Fixed wrapping of long map names in sidebar</li>
                      <li>FIX: Fixed incompatibility with PHP 7.2 (count(STRING)) when creating roles</li>
                      <li>Improved error handling of CSV lines with less than 4 fields</li>
                      <li>FIX: Allow "*" character to be part of backend dbpass values</li>
                      <li>Multisite Snapin: Reworked data export API to snapin. The new API is compatible with Checkmk
                        1.6b2 and newer.</li>
                      <li>Configurable OpenStreetMap tile server URL (worldmap<em>tiles</em>{url,attribution})</li>
                      <li>OpenStreetMap tile colors can now be dimmed using the worldmap_tiles_saturate configuration
                        option so that larger colorful backgrounds do not interfere with the map objects.</li>
                      <li>Optional 2nd map layer (satellite imagery)</li>
                      <li>FIX: Worldmap textbox visibility per zoom level</li>
                      <li>FIX: The "clone object" functionality did sometimes break with an error message like "Invalid
                        argument supplied for foreach()". (Thanks to Vojtech Pithart for taking the time to improve the
                        NagVis worldmap!)</li>
                    </ul>
                    <h3>NAGIOSBP</h3>
                    <p>Any Bug fix or enhancement from 2013, product <em>Deprecated</em> in realease 5.3-0</p>
                    <h3>NOTIFIER (1.1.2-3)</h3>
                    <ul>
                      <li>FIX: en_EN does NOT exist in locales</li>
                    </ul>
                    <h3>LILAC (3.1-1)</h3>
                    <ul>
                      <li>Fix: Fixes xml import</li>
                      <li>Improvement: Add dupliacte button on host</li>
                      <li>Improvement: Add duplicate button on host template</li>
                      <li>Export Improvement: Add stop job button</li>
                      <li>Improvement: replaced input text with html5 textarea field (multiline support)</li>
                    </ul>
                    <h3>Eyes-Ansible-roles</h3>
                    <p>New RPM package to deploy, manage <em>Eyes</em> with Ansible.</p>
                    <h3>PHP-MySQL</h3>
                    <p>Package php-mysql replaced by php-mysqlnd. PHP-MySQLND is a MySQL native Driver for PHP.</p>
                    <h3>HISTOU (0.4.3-0)</h3>
                    <p>New RPM package to create dynamic template for Grafana.</p>
                    <h3>NAGFLUX (0.4.1-0)</h3>
                    <p>New RPM package to collect PerfData from Nagios and convert to InfluxDB.</p>
                    <h3>GRAFANA (6.5.5-2)</h3>
                    <p>New RPM package to visualise Nagios PerfData and more.</p>
                    <h3>INFLUXDB (1.7.9-1)</h3>
                    <p>New RPM package to store Nagios PerfData and more.</p>
                    <h3>EONWEB (5.3-2)</h3>
                    <ul>
                      <li>Add CSV verify</li>
                      <li>fix hosts_cacti lisibility</li>
                      <li>Adding Release name in help_about</li>
                      <li>fix export diff (contact/contactgroup)</li>
                      <li>Replacing php-mysql by php-mysqlnd</li>
                      <li>Adding Cron task for InfluxDB Backups</li>
                      <li>Add menu to list unused templates</li>
                    </ul>
                    <h3>EONCONF (5.3-0)</h3>
                    <ul>
                      <li>Add Grafana Conf</li>
                      <li>Add EON IP address in issue.sh</li>
                      <li>Edit snmptt configuration</li>
                      <li>Fix OCS version issue</li>
                    </ul>
                    <h3>EONAPI (2.0-1)</h3>
                    <ul>
                      <li>FIX manage displayName</li>
                      <li>Add "modifyHostTemplate"</li>
                      <li>Add "deleteEonUser"</li>
                      <li>Add "modifyEonUser"</li>
                      <li>Add "createEonUser"</li>
                      <li>Add "{create,modify,delete}EonGroup", add new features to manage eonweb group (create/modify/*
                        delete)</li>
                      <li>Add "exporterNotifierConfig", add function witch manage the exportation of notifier config
                      </li>
                      <li>Add verification on the function add and modify rules</li>
                      <li>Add modifyNotifier{Rule,Method,Timeperiod}</li>
                      <li>Add {add,delete}Notifier{Rule,Method,Timeperiod}</li>
                      <li>FIX access class method</li>
                      <li>Backend: creation of foundations of the notifier database management (MVC modele)</li>
                      <li>Add the management of Global Nagios configuration</li>
                      <li>Add "deleteServiceGroup"</li>
                      <li>Add "createServiceGroup"</li>
                      <li>Add "createContactGroup"</li>
                    </ul>
                    <a class="popup-modal-dismiss" href="#">Close</a></p>
                  </div>

                  <div class="link-wrapper">
                    <a class="link hover-4 popup-modal" href="#5">Release Note</a>
                  </div>
                </li>
              </ul>
              <ul class="downtimeline">
                <li class="event" data-date="04/07/2018">
                  <h3>Version : 5.2</h3>
                  <p><strong>GPL Version 2 </strong><em> EyesOfNetwork-5.2-x86_64-bin.iso</em></p>
                  <p>
                    <a href="http://download.eyesofnetwork.com/EyesOfNetwork-5.2-x86_64-bin.iso">TÉLÉCHARGER</a>
                  </p>
                  <descr>1.2GB EON 5.2 64 Bits</descr>
                  <p><span class="badge">md5:2ce6c52104b8bb2337e1ffde535819e6</span></p>

                  <div id="4" class="mfp-hide white-popup-block">
                    <ul>
                      <li>CentOS 7.5</li>
                      <li>Dépôts yum en ligne</li>
                      <li>Eonweb 5.2</li>
                      <li>Lilac 3.0</li>
                      <li>Nagios Core 4.3.4</li>
                      <li>Nagvis 1.9.8</li>
                      <li>Thruk 2.20</li>
                    </ul>
                    <a class="popup-modal-dismiss" href="#">Close</a></p>
                  </div>

                  <div class="link-wrapper">
                    <a class="link hover-4 popup-modal" href="#4">Release Note</a>
                  </div>
                </li>
                <li class="event" data-date="26/02/2017">
                  <h3>Version : 5.1</h3>
                  <p><strong>GPL Version 2 </strong><em> EyesOfNetwork-5.1-x86_64-bin.iso</em></p>
                  <p>
                    <a href="http://download.eyesofnetwork.com/EyesOfNetwork-5.1-x86_64-bin.iso">TÉLÉCHARGER</a>
                  </p>
                  <descr>970MB EON 5.1 64 Bits</descr>
                  <p><span class="badge">md5:7cb3aa43ded75eabe94ad03079b779c7</span></p>

                  <div id="3" class="mfp-hide white-popup-block">
                    <ul>
                      <li>Cacti 0.8.8h-1</li>
                      <li>CentOS 7.3</li>
                      <li>Eonweb 5.1</li>
                      <li>Fusioninventory-agent 2.3.18</li>
                      <li>Glpi 9.1.2</li>
                      <li>Glpi-fusioninventory 9.1.1.1</li>
                      <li>Lilac 2.5-1</li>
                      <li>Mklivestatus 1.2.8p17</li>
                      <li>Nagios-plugins 2.1.4</li>
                      <li>Nrpe 3.0.1</li>
                      <li>Thruk 2.12-3</li>
                    </ul>
                    <a class="popup-modal-dismiss" href="#">Close</a></p>
                  </div>

                  <div class="link-wrapper">
                    <a class="link hover-4 popup-modal" href="#3">Release Note</a>
                  </div>
                </li>
                <li class="event" data-date="11/07/2016">
                  <h3>Version : 5.0</h3>
                  <p><strong>GPL Version 2 </strong><em> EyesOfNetwork-5.0-x86_64-bin.iso</em></p>
                  <p>
                    <a href="http://download.eyesofnetwork.com/EyesOfNetwork-5.0-x86_64-bin.iso">TÉLÉCHARGER</a>
                  </p>
                  <descr>868MB EON 5.0 64 Bits</descr>
                  <p><span class="badge">md5:7c1d5ee37b067039e279b73324f7458f</span></p>

                  <div id="2" class="mfp-hide white-popup-block">
                    <p>NOUVEAUTÉS :</p>
                    <pre><code>CentOS 7
Nouvelle interface eonweb responsive !!!!</code></pre>
                    <p>MISES A JOUR :</p>
                    <pre><code>Cacti 0.8.8h
CentOS 7.2
Eon4apps 2.1
Eonweb 5.0
Fusioninventory-agent 2.3.17
Glpi 0.90.3
Glpi-fusioninventory 0.90.1.3
Lilac 2.5
Mklivestatus 1.2.8p1
Nagios-plugins 2.1.1
Nagvis 1.8.5
Notifier 2.0-2
Ocsinventory 2.2
Thruk 2.08-1</code></pre>
                    <a class="popup-modal-dismiss" href="#">Close</a></p>
                  </div>

                  <div class="link-wrapper">
                    <a class="link hover-4 popup-modal" href="#2">Release Note</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
  </section>

  <!--==========================
          Roadmap section
        ============================-->
  <section id="roadmap" class="section-with-bg">
    {% assign roadmaps=site.data.roadmap.fr %}
    <div class="section-header"><br>
      <h2>Roadmap</h2>
    </div>
    <div class="degrad"></div>
    <table id="roadmap-text">
      {% for roadmap in roadmaps %}
      {% assign index=forloop.index %}
      <tr>
        <th >{{ roadmap[0] }}</th>

        {% for roadmapU in roadmap[1] %}
          <td>{{ roadmapU.title }}	&nbsp;<a id="link-roadmap" class="link popup-modal" href="#roadmap-{{ index }}{{ forloop.index }}"><svg width="1em" height=".9em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
          </svg></a></td>
          <div id="roadmap-{{ index }}{{ forloop.index }}" class="mfp-hide white-popup-block">
            <h1>{{ roadmapU.title }}</h1>
            {{ roadmapU.description }}
          </div>
          {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <img id="logo-roadmap" src="/img/logos/logo-eyes_NB.svg" alt="">
  </section>
</main>