---
layout: security-menu
lang: fr
ref: security-post
permalink: /fr/security
---
<main class="post" id="security-main">
    <div class="post-list" id="security">
        {%- if site.posts.size > 0 -%}
        <h1>Securité</h1>
        {% assign posts=site.posts | where:"lang", page.lang | where:"categories", "security" %}
        <ul>
            <table>
                <tr id="post-sub">
                    <th class="post-subtitle"> Titre </th>
                    <th class="post-subtitle"> Description </th>
                    <th class="post-subtitle"> Localisation </th>
                    <th class="post-subtitle"> Paramètre </th>
                    <th class="post-subtitle"> Niveau </th>
                </tr>
            {% for post in posts %}
                <tr>
                    
                    <td class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></td>
                    <td class="post-meta">
                        <p>{{ post.desc }}</p>
                        {%- assign date_format = site.minima.date_format | default: "%d/%m/%Y" -%}
                        <span class="post-date">{{ post.date | date: date_format }}</span>
                    </td>
                    <td class="post-meta">
                        <p>{{ post.localisation }}</p>
                    </td>
                    <td class="post-meta">
                        <p>{{ post.parametre }}</p>
                    </td>
                    <td class="post-meta">
                        {% if post.niveau == "Critical" %}
                        <div class="container">
                            <div class="progress progress-striped-cri">
                                <div class="progress-bar-cri">
                                </div>
                            </div>
                        </div>
                        {% elsif post.niveau == "Medium" %}
                        <div class="container">
                            <div class="progress progress-striped-med">
                                <div class="progress-bar-med">
                                </div>
                            </div>
                        </div>
                        {% elsif post.niveau == "Low" %}
                        <div class="container">
                            <div class="progress progress-striped-low">
                                <div class="progress-bar-low">
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        </ul>
        {%- endif -%}
    </div>
</main>