<footer id="footer">
  <div class="row" id="links">
    <div class="col-md-4">
      
      <div>
        <ul>
          <li>
            <b>Ressources</b>
          </li>
          <li>
            <a href="/{{ page.lang }}/docs">Documentation</a>
          </li>
          <li>
            <a href="/{{ page.lang }}/kb">{{ site.kb[page.lang] }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      
      <div>
        <ul>
          <li>
            <b>Contact</b>
          </li>
          <li>
            <a class="_blank" href="mailto:eyesofnetwork@eyesofnetwork.com" target="_blank">eyesofnetwork@eyesofnetwork.com</a>
          </li>
          <li>
            <b>{{ site.follow[page.lang] }}&nbsp;&nbsp;&nbsp;&nbsp;</b><a href="https://twitter.com/eyesofnetwork"><i class="fab fa-twitter"></i></a></p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4" id="infos">
      <div>
        <img src="/img/logos/logo-eyes_NB.svg">
        
      </div>
    </div>

    
  </div>
  <div id="by">{{ site.by[page.lang] }} <a href="https://www.axians.com/">axians</a></div>
  
</footer>
<!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<!-- JavaScript Libraries -->

<script src="/lib/jquery/jquery.min.js?a05b85c645"></script>
<script src="/lib/jquery/jquery-migrate.min.js?fc01c7070c"></script>
<script src="/lib/bootstrap/js/bootstrap.bundle.min.js?f668a9c0bf"></script>
<script src="/lib/easing/easing.min.js?7966b010d2"></script>
<script src="/lib/superfish/hoverIntent.js?17f37a9d24"></script>
<script src="/lib/superfish/superfish.min.js?4694b7d2c7"></script>
<script src="/lib/wow/wow.min.js?d2679fe592"></script>
<script src="/lib/venobox/venobox.min.js?7712660b0d"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js?2e5d5fcfd1"></script>
<script src="/lib/magnific-popup/jquery.magnific-popup.min.js?358235b3c2"></script>
{%- if page.layout == "post" or page.layout == "docs"-%}
  <script src="/lib/toc/toc.js"></script>
  <script src="/lib/mermaid/mermaid.min.js"></script>
  <script src="/lib/highlightjs/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script>
  var config = {
      startOnLoad:true,
      theme: 'neutral', //dark,default,forest,neutral
      flowchart:{
              htmlLabels:true
          }
  };
  mermaid.initialize(config);
  //window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
  $(document).ready(function() {
      $('#toc').toc();
  });
  mermaid.init(undefined, $(".language-mermaid"));
  $(document).ready(function(){
  $("#search-filter").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#toc *").filter(function() {
      if($(this).text().toLowerCase().indexOf(value) > -1) {
        $(this).show();
        if(value == ""){
        $(this).css("display", "");
       }
      }
      else {
        $(this).hide();
      }      
    });
  });
});

$(document).ready(function(){
  $("#version-select").on("change", function() {
    value = $("#version-select").val();
    window.location.href = value;
  });
});
  </script>
{%- endif -%}
<!-- Contact Form JavaScript File -->
<!-- <script src="contactform/contactform.js"></script> -->

<!-- Template Main Javascript File -->
<script src="/js/main.js?932ce84ef6"></script>

<script type="text/javascript">

  // magnific popup for gallery
  $(document).ready(function () {
    $('.magnific, div.imageholder a').magnificPopup({
      type: 'image'
      // other options
    });
  });

  //modal for Release note    
  $(function () {
    $('.ajax-popup-modal').magnificPopup({
      type: 'ajax',
      midClick: true,
      preloader: false,
      modal: false,
      callbacks: {
      parseAjax: function(mfpResponse) {
        mfpResponse.data = $(mfpResponse.data).find('.post-content');
        console.log('Ajax content loaded:', mfpResponse);
      },
      ajaxContentAdded: function() {
        console.log(this.content);
        }
      }
    });
    $('.popup-modal').magnificPopup({
      type: 'inline',
      midClick: false,
      preloader: false,
      modal: false
    });
    $(document).on('click', '.popup-modal-dismiss', function (e) {
      e.preventDefault();
      $.magnificPopup.close();
    });
  });
  </script>
